@use "../utils/variables" as *;
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font-family: "Roboto", sans-serif;
  color: $colorPrimary;
  letter-spacing: $letterSpacingTitle;
  margin-bottom: 9px;
}
img {
  display: block;
}
textarea {
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  height: 120px;
}
::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
* {
  padding: 0;
  margin: 0;
}

.link {
  display: flex;
  border: 1px solid $currentColor;
  color: $colorIcon;
  border-radius: $borderRadius;
  width: 170px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: $transitionDuration;
  transition-timing-function: $transitionTimingFunction;
}
.grid {
  list-style: none;
  &__style {
    list-style-type: none;
    display: flex;
    column-gap: 30px;
  }
}