@use "../utils/vars" as *;
.grid {
  &__desc-icon {
    border-radius: $borderRadius;
    background-color: $colorThird;
    margin-bottom: 30px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__descriptions-name {
    font-weight: $fontWeightBold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: $letterSpacingTitle;
    margin-bottom: 10px;
  }
  &__desc-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: $letterSpacingTitle;
  }
}