@use "../utils/variables" as *;
.logo {
  color: $colorThird;
  font-family: Raleway;
  text-decoration: none;
  &--header {
    color: $colorSecondary;
    font-family: Raleway;
    font-weight: $fontWeightBold;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: $letterSpacingTitle;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
  &--footer {
    color: $colorSecondary;
    font-family: Raleway;
    font-weight: $fontWeightBold;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: $letterSpacingTitle;
    display: flex;
    margin-bottom: 20px;
  }
}