@use "../utils/vars" as *;
.section {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  &__title {
    color: $colorPrimary;
    font-weight: $fontWeightBold;
    font-size: $fontSizeTitle;
    line-height: $lineHeightTitle;
    letter-spacing: $letterSpacingTitle;
    text-align: center;
    padding-bottom: 50px;
  }
  &__heading {
    background-image: linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url("../images/baner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-color: $colorPrimary;
    color: $colorThird;
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
  }
  &--work {
    padding-top: 0;
  }
}