@use "../utils/vars" as *;
.social-media {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-top: 16px;
  &__link {
    fill: $colorIcon;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-property: fill, background-color;
    transition-duration: $transitionDuration;
    transition-timing-function: $transitionTimingFunction;
  }
    &:hover,
    &:focus {
      fill: $colorThird;
      background-color: $colorSecondary;
    }
    &-footer {
      padding: 9px;
      fill: $colorThird;
      background-color: #ffffff10;
      border-radius: 50% 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition-property: fill, background-color, border-radius;
      transition-duration: $transitionDuration;
      transition-timing-function: $transitionTimingFunction;
      &:hover,
      &:focus {
        fill: $colorThird;
        background-color: $colorSecondary;
        border-radius: 50% 50%
      }
    }
  &__footer {
    display: flex;
    column-gap: 10px;
  }
}