@use "../utils/variables" as *;
.grid {
  &__clients-icon {
    fill: $colorIcon;
  }
}
.link__clients {
  display: flex;
  border: 1px solid $colorIcon;
  color: $colorIcon;
  border-radius: $borderRadius;
  width: 170px;
  height: 90px;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: $transitionDuration;
  transition-timing-function: $transitionTimingFunction;
  &:hover,
  &:focus {
    border-color: $colorSecondary;
    .grid__clients-icon {
      fill: $colorSecondary;
    }
  }
}