@use "../utils/variables" as *;
.contact {
  margin-left: auto;
  display: flex;
  gap: 50px;
  &__link-header {
    display: flex;
    color: $colorText;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: $transitionDuration;
    transition-timing-function: $transitionTimingFunction;
    &:hover,
    &:focus {
      color: $colorSecondary;
      .contact__icon {
        fill: $colorSecondary;
      }
    }
  }
  &__link-footer {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: $letterSpacingTitle;
    font-style: normal;
    &:hover,
    &:focus {
      cursor: pointer;
      color: $colorSecondary;
    }
  }
  &__icon {
    fill: $colorText;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: $transitionDuration;
    transition-timing-function: $transitionTimingFunction;
    &:hover,
    &:focus {
      fill: $colorSecondary;
      cursor: pointer;
    }
  }
  &__footer {
    background-color: $colorBackgroundSecondary;
    padding: 60px 0;
    color: $colorPrimary;
    &-container {
      display: flex;
      align-items: baseline;
    }
    &-address {
      margin-bottom: 9px;
    }
    &-join-us {
      margin-left: 70px;
      &-title {
        color: $colorThird;
        font-weight: $fontWeightBold;
        font-size: 14px;
        line-height: $lineHeightTitle;
        letter-spacing: $letterSpacingTitle;
        margin-bottom: 20px;
        width: 113px;
        height: 16px;
      }
    }
  }
  &__address {
    color: $colorThird;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: $letterSpacingTitle;
    font-style: normal;
  }
}