@use "../utils/variables" as *;
.grid__work_list {
  list-style-type: none;
  display: flex;
  column-gap: 30px;
  justify-content: space-around;
  &-img {
    position: relative;
    > .grid__work-dsc {
      position: absolute;
      background-color: rgba(47, 48, 58, 0.8);
      color: $colorThird;
      font-size: 14px;
      font-weight: $fontWeightBold;
      line-height: $lineHeightTitle;
      letter-spacing: $letterSpacingTitle;
      bottom: 0;
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}